/**
 * Layout for responsive style through media queries.
 */

@media screen and (max-width: 1500px) {
    .site-logo {
        display: none;
    }
}

@media screen and (max-width: 1116px) {
    body {
        margin: 0;
    }
    .wrap-all {
        width: 100%;
    }
}

@media screen and (max-width: 920px){
    .toc {
        padding-inline-start: 2%;
    }
}

@media screen and (max-width: 895px){
    .region-header-col-2{
        width: 75%;
    }

    .region-header-col-3 {
        width: 5%;
    }

    .region-header-col-1,{
        width: 20%;
    }

}

@media screen and (max-width: 800px) {
    .region-main{

        &.has-sidebar{
            width: 70%;

            &.has-sidebar-right{
                margin-right: 0%;

                &.has-sidebar-left{
                    width: 50%;
                    margin-left: 0%;
                }
            }

            &.has-sidebar-left{
                margin-left: 0%;
            }
        }
    }

    .region-sidebar-left,
    .region-sidebar-right{
        width: 25%;
    }
    .region-sidebar-left.has-sidebar-right,
    .region-sidebar-right.has-sidebar-left{
        width: 25%;
    }
}

@media screen and (max-width: 685px) {
    .rm-desktop {
        display: none;
    }
    .region-header-col-2{
        width: 0;
    }

    .region-header-col-3 {
        width: 30%;
    }

    .region-header-col-1,{
        width: 70%;
    }
}

@media screen and (max-width: 650px) {
    .region-main {
        margin-left: 0;
        margin-right: 0;
    }

    figure {
        margin-inline-start: 2%;
        margin-inline-end: 2%;
    }
}

@media screen and (max-width: 600px) {

    .region-main {
        width: 100%;
        float: none;

        &.has-sidebar{
            width: 100%;
            float: none;

            &.has-sidebar-right{
                width: 100%;
                float: none;

                &.has-sidebar-left{
                    width: 100%;
                    float: none;
                }
            }
        }
    }

    .region-sidebar-left,
    .region-sidebar-right {
        width: 100%;
        float: none;
    }

    .region-sidebar-left.has-sidebar-right,
    .region-sidebar-right.has-sidebar-left {
        width: 100%;
        float: none;
    }

    .toc {
        display: none;
    }

    .right {
        float: none;
    }

    .stylechooser fieldset select{
        max-width: 100%;
    }
}

@media screen and (max-width: 410px){
    .region-after-main {
        width: 100%;
    }
}
